<div class="container">
  <br />
  <h3>Edit Student</h3>

  <form (submit)="frmSubmit()" #studentForm="ngForm">
    <div class="form-group" style="display: none;">
      <label for="studentID">Student ID</label>
      <input
        #stId="ngModel"
        [(ngModel)]="std.Id"
        type="text"
        name="studentID"
        class="form-control"
        id="studentID"
      />
    </div>

    <div class="form-group">
      <label for="StudentName">Student Name</label>
      <input
        #stdName="ngModel"
        [(ngModel)]="std.Name"
        required
        type="text"
        name="StudentName"
        class="form-control"
        id="StudentName"
        placeholder="Enter Student Name"
      />
      <div
        [hidden]="stdName.valid || stdName.pristine"
        class="alert alert-danger"
      >
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="studentAddress">Student Address</label>
      <input
        #stdAdress="ngModel"
        [(ngModel)]="std.Address"
        type="text"
        name="studentAddress"
        required
        class="form-control"
        id="studentAddress"
        placeholder="Enter Student Address"
      />
      <div
        [hidden]="stdAdress.valid || stdAdress.pristine"
        class="alert alert-danger"
      >
        Address is required
      </div>
    </div>

    <div class="form-group">
      <label for="username">Student UserName</label>
      <input
        #stdusername="ngModel"
        [(ngModel)]="std.UserName"
        type="text"
        required
        minlength="4"
        name="username"
        class="form-control"
        id="username"
        placeholder="Enter student UserName"
      />
      <div
        [hidden]="stdusername.valid || stdusername.pristine"
        class="alert alert-danger"
      >
        username is required
      </div>
    </div>

    <div class="form-group">
      <div>
        <label>Select Department: &nbsp;&nbsp;&nbsp;</label>
        <select [(ngModel)]="std.Department_ID" #deptsDDL name="depDDL">
          <option *ngFor="let dep of Depts" [value]="dep.ID">
            {{ dep.Name }}</option
          >
        </select>
      </div>
    </div>

    <input
      value="Update Student"
      type="submit"
      class="btn btn-success"
      [disabled]="!studentForm.form.valid"
    />
    <br />
  </form>
  <br />
</div>
